.slider {
  margin: 0 auto;
  @extend %display-flex;
  justify-content: space-between;
  padding: 50px 0;

  @include laptop {
    flex-direction: column;
  }

  @include tablets {
  }
}

.swiper-slide {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.slider__info,
.slider__caption {
  @include desktop {
  }

  @include laptop {
  }

  @include tablets {
  }
}

.slider__button {
  color: $on-image-font-color;
  background-color: $main-color-font;
}

.slider__title {
  font-size: $title-font-size;
  line-height: 120px;
  @include adaptiv-font(64, 44);
}

.swiper {
  max-width: 1140px;
  margin-bottom: 80px;
}

.swiper__image {
  width: 100%;
  img {
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.swiper-container {
  position: relative;
  padding-bottom: 84px;
}
.swiper-prev {
  @extend %arrow-position;
  left: 0;
  top: 45%;
}

.swiper-next {
  @extend %arrow-position;
  right: 0;
  top: 45%;
}

.slider__caption {
  font-size: $subtitle-font-size;
  line-height: 50px;
}
.slider__info {
  font-size: $text-font-size;
  line-height: 22px;
}
