%display-flex {
  display: flex;
  align-items: center;
}

%arrow-position {
  transform: translate(0, -50%);
  position: absolute;
  z-index: 1;
  cursor: pointer;
}
%category-demension {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
}

$maxWidth: 1280;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 480;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 480px) / #{$maxWidth})
  );
}
