$page-font: "Roboto", sans-serif;
$main-color-font: #202020;
$on-image-font-color: #ffffff;
$main-title-font-size: 4.5rem;
$main-desktop-title-font-size: 4rem;
$main-laptop-title-font-size: 3.5rem;
$title-font-size: 4rem;
$text-font-size: 0.75rem;
$button-text-font-size: 1rem;
$subtitle-font-size: 24px;
$subtitle-desktop-font-size: 1.2rem;
